.Contador input{

    font-size: 1.4rem;
    width: 60px;
}

.Contador button{
    height: 50px;
    border-radius: 50%;
    width: 50px;
    background-color: #1499D3;
    font-size: 1.4rem;
    margin: 10px;
}